#main {
  width: 85vw;
  height: 66vw;
  font-family: 'Slabo 27px', serif;
  margin-left: 7.5vw;
}

#foreign {
  width: 40vw;
  height: 66vw;
  display: inline-block;
  vertical-align: top;
}

#translation {
  width: 40vw;
  height: 66vw;
  display: inline-block;
  vertical-align: top;
}

#separator {
  height: 66vw;
  width: 1px;
  border-left: 1px solid grey;
  display: inline-block;
  vertical-align: top;
}

.letter {
  color: grey;
}

.current {
  color: #7a04f7;
}

#cursor {
  border-left: 1px solid grey;
  animation: blinker 1s cubic-bezier(0.75,0,0.25,1) infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.completed {
  color: black;
}

.incorrect {
  color: #c40108;
}
