<div id='dashboard-wrapper'>
  <h1 id='header'> Categories </h1>
  <hr id="underline"/>
  <div id='lessons'>
    <% categories.map do |category| %>
      <a href='/category/<%=category%>'>
        <div class='lesson'><%= category.split('_').map(&:capitalize).join(' ') %>
        </div>
      </a>
    <% end %>
  </div>
</div>
<style>@import url('./stylesheets/dashboard.css');</style>
<script src="/js/categories.js"></script>
