<div id='dashboard-wrapper'>
  <h1 id='header'> <%= lessons.first[:category].split('_').map(&:capitalize).join(' ') %> </h1>
  <br>
  <a href='/categories'>Back to all categories</a>
  <div id='lessons'>
    <% lessons.map do |lesson| %>
      <a href='/lessons/<%=lesson[:id]%>'>
        <div class='lesson <%= "completed" if lesson[:completed] %>'>
          <%= lesson[:text] %>
          <!-- <% if lesson[:completed] %>
            <script>console.log('completed')</script>
            <div id='checkmark'>&#10003;HIHIHI</div>
          <% end %> -->
        </div>
      </a>
    <% end %>
  </div>
</div>
<style>@import url('/stylesheets/dashboard.css');</style>
<script src="/js/category.js"></script>
