<div id="complete-text">
  <h3>Congratulations, you've completed the demo!</h3>
  <br>
  <br>
  Paralela is a fantastic way to brush up on foreign language vocabulary, spelling, and even just regular typing skills. If you'd like to continue and get access to hundreds more lessons, you can sign up with Google below.
  <br>
  <br>
  And remember, Paralela is Pay What You Want - you can name your price!
  <br>
  <br>
</div>
<br>
<div id="login-wrapper">
  <a href='/auth/google_oauth2' id='login'><img src='/img/google_signin_light_normal.png'></a>
</div>

<style>@import url('/stylesheets/complete.css');</style>
