<div class="upload">
  <br>
  You can upload your custom lessons here.
  <form action="/upload">
    <input name="text" placeholder="Enter the text you want to type here" value=""></input>
    <br>
    <input type="submit"></input>
  </form>
</div>
<br>

<div id='dashboard-wrapper'>
  <h1 id='header'> <%= lessons.first[:category].split('_').map(&:capitalize).join(' ') %> </h1>
  <br>
  <a href='/categories'>Back to all categories</a>
  <div id='lessons'>
    <% lessons.map do |lesson| %>
      <a href='/lessons/<%=lesson[:id]%>'>
        <div class='lesson <%= "completed" if lesson[:completed] %>'>
          <%= lesson[:text] %>
        </div>
      </a>
    <% end %>
  </div>
</div>
<style>@import url('/stylesheets/dashboard.css');</style>
<script src="/js/category.js"></script>
