<div id="main">
  <div id="foreign">
  </div>
  <div id="spacer">
  </div>
  <div id="separator">
  </div>
  <div id="spacer">
  </div>
  <div id="translation">
  </div>
</div>
<script src="/js/horla.js"></script>
<script src="/js/main.js"></script>
<style>@import url('./stylesheets/demo.css')</style>
