<div id="main-lesson">
  <span id="explanation"></span>
  <div id="foreign">
  </div>
  <div id="spacer">
  </div>
  <div id="separator">
  </div>
  <div id="spacer">
  </div>
  <div id="translation">
    &nbsp;
  </div>
</div>
<script src="/js/util.js"></script>
<script src="/js/demo.js"></script>
<script src="/js/sweetalert.min.js"></script>
<style>@import url('/stylesheets/demo.css');</style>
<style>@import url('/stylesheets/sweetalert.css');</style>
