<div id='index'>
  <h1 class='header'>Learn French or Spanish through typing</h1>
  <div id='columns'>
    <img src='/mb-macbook.png' id='macbook'></img>
    <div id='checklist'>
      <ul>
        <li>💯 Hundreds of lessons</li>
        <li>📅 Get sent daily vocab</li>
        <li>🤑 Pay what you want</li>
        <a href='/auth/google_oauth2' id='login'><img src='/google_signin_light_normal.png'></a>
      </ul>
    </div>
  </div>
  <div id='line'></div>
  <div id='price'>
    <h1>Price</h1>
    <br>
    <p>Typr is Pay What You Want - you can choose can any monthly price, with a minimum of $1. If you don't like it, you can cancel anytime, and if you love it, you can always raise your monthly subscription.</p>
    <br>
    <h2>How much are other people paying?</h2>
    <br>
    Average Subscription: <span id='average'></span>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<style>
  @import url('/stylesheets/index.css');
</style>
<script src="/js/index.js"></script>
<!-- <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li> -->
<!-- <meta name="google-signin-client_id" content="838257261894-qdr79vu4nhsobltvbn0tjf4erep63f7j.apps.googleusercontent.com"> -->
<!-- <script async src="https://apis.google.com/js/platform.js" async defer></script> -->
