<div id='index'>
  <h1 class='retro'>Paralela</h1>
  <!-- <br> -->
  <hr id="underline" />
  <h3 class='header'>Learn French by Typing</h3>
  <div id='columns'>
    <div id="images">
      <img src='/img/mb-macbook.png' id='macbook'></img>
      <img src='/img/demo.gif' id='gif'></img>
    </div>
    <div id='checklist'>
      <ul>
        <div class='frame'>
          <li>
            <img class='icon' src='./img/book.png'></img>&nbsp;Hundreds of lessons
          </li>
        </div>
        <div class='frame'>
          <li>
            <img class='icon' src='./img/calendar.png'></img>&nbsp;Get sent daily vocab
          </li>
        </div>
        <div class='frame'>
          <li>
            <img class='icon' src='./img/usd.png'></img>&nbsp;Pay what you want
          </li>
        </div>
        <a href='/auth/google_oauth2' id='login'><img src='/img/google_signin_light_normal.png'></a>
      </ul>
    </div>
  </div>
  <div id='line'></div>
  <div id='price'>
    <h1 id='about'>About</h1>
    <br>
    <br>
    <div class='faq-button'>How much does it cost?</div>
    <div class='faq-answer'>
      <p>Paralela is Pay What You Want - you can choose can any monthly price, with a minimum of $1 to cover expenses.</p>
      <br>
    </div>
    <div class='faq-button'>How much are other people paying?</div>
    <div class='faq-answer'>
      <div class='stats'>The average subscription is: <span id='average'></span></div>
      <div class='stats'>The highest subscription is: <span class='minmax max'></span></div>
      <div class='stats'>The lowest subscription is: <span class='minmax min'></span></div>
    </div>
    <div class='faq-button'>What do I get if I pay more than the average?</div>
    <div class='faq-answer'>
      <ul>
        <li>You can upload your own text to type</li>
        <li>Your name/company can be added to the Supporters list</li>
        <li>You get access to Beta testing of new features</li>
      </ul>
      <br>
    </div>
    <div class='faq-button'>Can I cancel or change my subscription?</div>
    <div class='faq-answer'>
      <p>If you don't like how much you choose to pay, you can cancel or lower your subscription anytime, and if you love it, you can always raise your monthly subscription to support the developers ❤️</p>
      <br>
    </div>
    <div class='faq-button'>Why 'Pay What You Want'?</div>
    <div class='faq-answer'>
      <p>We decided to use a Pay What You Want system because we believe it is the fairest revenue model. Under a Pay What You Want revenue model, the financial transaction "changes an adversarial zero-sum conflict centered on price into a friendly win-win exchange centered on value and trust"<a href='https://en.wikipedia.org/wiki/Pay_what_you_want#cite_ref-Smart_Pricing2_2-1'>[1]</a>. Some successful implementations of this revenue model that we look up to are the <a href='https://www.humblebundle.com/'>Humble Bundle</a>, <a href='https://itch.io'>Itch.io</a>, <a href='https://en.wikipedia.org/wiki/In_Rainbows'>Radiohead's In Rainbows</a>, and <a href='http://www.pri.org/stories/2016-12-29/rios-best-caf-lets-you-pay-what-you-want'>Curto Cafe</a>.</p>
    </div>
  </div>
</div>
<style>
  @import url('/stylesheets/index.css');
</style>
<script src="/js/index.js"></script>
