<div id="main">
  <div id="foreign">
  </div>
  <div id="spacer">
  </div>
  <div id="separator">
  </div>
  <div id="spacer">
  </div>
  <div id="translation">
  </div>
</div>
<script src="/js/lesson.js"></script>
<script src="/js/sweetalert.min.js"></script>
<style>@import url('/stylesheets/demo.css');</style>
<style>@import url('/stylesheets/sweetalert.css');</style>
