<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Type</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/reset.css" type="text/css">
    <link rel="stylesheet" href="./stylesheets/nav.css" type="text/css">
  </head>
  <body>
    <nav class="navBar wrapper">
      <nav class="wrapper">
        <div class="logo"></div>
        <input type="checkbox" id="menu-toggle">
          <label for="menu-toggle" class="label-toggle"></label>
        </input>
        <ul>
          <a href="#pricing"><li>Pricing</li></a>
          <a href="#pricing"><li>Login</li></a>
          <a href="#pricing"><li>Demo</li></a>
        </ul>
      </nav>
    </nav>

    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
