<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Type</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script async>
      !function(){function c(){var a=b.createElement("script");
      a.src='https://resend.io/widget.js',a.async=!0,a.onload=function(){__init('RAczJQTEJ4Y3ZoTmg2Ymc9PQ==')},
      b.getElementsByTagName("head")[0].appendChild(a)}var a=window,b=document;
      a.attachEvent?a.attachEvent("onload",c):a.addEventListener("load",c,!1)}();
    </script>
  </head>
  <body>
    <nav class="navBar wrapper">
      <nav class="wrapper">
        <div class="logo-wrapper">
          <a href='/'><span class="logo">T/M</span></a>
        </div>
        <span id='links'>
          <a class='link link-3' id="price-link" href="/#line">About</a>
          <a class='link link-2' href="/auth/google_oauth2">Login</a>
          <a class='link link-1' href="/demo">Demo</a>
        </span>
      </nav>
    </nav>

    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
