<div class="signup-wrapper">
  Paralela is <strong>Pay What You Want</strong> - that means you can choose the price of your monthly subscription!
  There is a $1 minimum to cover payment processing, server hosting, and other developement costs.
  <br>
  <br>
  <br>
  If you pay above the average subscription price of <span id='average'></span>,
  you get access to the following perks:
  <div class="perks">
    <em>
      <div class="perk">&bull; Create your own lessons by uploading any text</div>
      <br>
      <div class="perk">&bull; Access to beta testing of new features</div>
      <br>
      <div class="perk">&bull; Add your name or company name on the list of <a href='/supporters'>supporters</a></div>
    </em>
  </div>
  <br>
  <br>
  <br>
  Drag the slider below to choose a price, or enter it manually in the input next to the slider.
  <br>
  <br>
  <form class="stripe-form" action="/charge" method="POST" onsubmit="function() { return false }" autocomplete="off">
    <div id="error_explanation">
    </div>
    <div class="amount-wrapper">
      <div class="range-slider" id="range-slider">
        <span></span>
      </div>
      <input id="amount" name="amount" type="text" placeholder="$1.95" />
    </div>
    <input type="hidden" name="stripeToken" id="stripeToken"></input>
    <br>
    <button class="submit" id='subscribeButton' style="outline: none;">Subscribe for $1.95/month</button>
  </form>
</div>
<span id="email" style="display:none"><%= email %></span>

<style>@import url('/stylesheets/signup.css');</style>
<script>
  var stripe_public_key = `<%= stripe_public_key %>`
</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="./js/signup.js"></script>
