<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script async type="text/javascript" src="./js/stripe.js"></script>

<div class='card-wrapper'>
</div>

<form action="/charge" method="POST" id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <input type="text" size="20" data-stripe="number" id="number" placeholder="Card Number">
    </label>
  </div>

  <div class="form-row">
    <label>
      <input type="text" size="2" data-stripe="exp_month" id="exp_month" placeholder="MM">
    </label>
    <span> / </span>
    <input type="text" size="2" data-stripe="exp_year" id="exp_year" placeholder="YY">

    <label>
      <input type="text" size="4" data-stripe="cvc" id="cvc" placeholder="CVC">
    </label>
  </div>
  <div class="range-slider" id="range-slider">
    <span></span>
  </div>

  <input type="submit" class="submit" value="Subscribe">
</form>

<style>
  @import url('/stylesheets/signup.css');
</style>
<script src="./js/card.js"></script>
<script src="./js/create_card.js"></script>
<script src="./js/signup.js"></script>
