<div class="signup-wrapper">
  Paralela is Pay What You Want - that means you can choose the price of your monthly subscription!
  There is a $1 minimum to cover payment processing, server hosting, and other developement costs.
  <br>
  <br>
  The average subscription price is currently <span id='average'></span>
  <br>
  <br>
  Drag the slider below to choose a price, or enter it manually in the input next to the slider.
  <br>
  <br>
  <form class="stripe-form" action="/charge" method="POST" onsubmit="function() { return false }" autocomplete="off">
    <div id="error_explanation">
    </div>
    <div class="amount-wrapper">
      <div class="range-slider" id="range-slider">
        <span></span>
      </div>
      <input id="amount" name="amount" type="text" placeholder="$1.95" />
    </div>
    <input type="hidden" name="stripeToken" id="stripeToken"></input>
    <br>
    <button class="submit" id='donateButton' style="outline: none;">Subscribe for $1.95/month</button>
  </form>
</div>

<style>@import url('/stylesheets/signup.css');</style>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="./js/signup.js"></script>
