<form action="/charge" method="POST" onsubmit="function() { return false }">
  <div id="error_explanation">
  </div>
  <div class="range-slider" id="range-slider">
    <span></span>
  </div>
  <label for="amount">Donation Amount:</label>
  <input id="amount" name="amount" type="text" value="Donation Amount:" />
  <input type="hidden" name="stripeToken" id="stripeToken"></input>
  <button id='donateButton'>Donate</button>
</form>

<style>@import url('/stylesheets/signup.css');</style>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="./js/signup.js"></script>
