$background: #E9EAEA;
$primary: #6b59ef;
$grey: lighten(#000, 25%);

#dashboard-wrapper {
  width: 50vw;
  max-width: 800px;
  height: 85vh;
  margin: 0 auto;
  text-align: center;
}

#lessons {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
  a {
    text-decoration: none;
    color: black;
  }
  .completed{
    color: green;
  }
}

.lesson {
  width: 300px;
  height: 125px;
  line-height: 115px;
  font-size: 24px;
  text-decoration: none;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: border 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  opacity: 1;
  margin-top: 25px;
  &:hover {
    color: $primary;
    border: 1px solid $primary;
  }
}

h1#header {
  text-align: center;
  margin-top: 2vh;
}

#underline {
  border: 0;
  width: 75px;
  color: $primary;
  background-color: $primary;
  height: 1px;
}

.difficulty {
  font-size: 12px;
  line-height: 15px;
  margin-top: -30px;
}

.checkmark {
  line-height: 15px;
  margin-top: -30px;
}
