#main {
  width: 100vw;
  height: 30vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

#separator {
  height: 1px;
  width: 50vw;
  border-bottom: 1px solid grey;
  display: inline-block;
  vertical-align: top;
}

#spacer {
  height: 2vh;
}

.letter {
  color: grey;
}

.current {
  color: #6b59ef;
}

#cursor {
  border-left: 1px solid grey;
  animation: blinker 1s cubic-bezier(0.75,0,0.25,1) infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.completed {
  color: black;
}

.incorrect {
  color: #c40108;
}

.incorrect-space {
  background-color: #c40108;
}
