#index {
  margin-top: 7.5vh;
  color: lighten(#000, 25%)
}

.header {
  text-align: center;
  font-weight: 100;
}

#columns {
  margin-top: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#gif {
  width: 500px;
  height: auto;
  // border: 1px solid #6b59ef;
  // border-radius: 10px;
  margin-right: 1vw;
}

#checklist {
  width: 40vw;
  height: 40vh;
  // border: 1px solid #6b59ef;
  // border-radius: 10px;
  margin-left: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#checklist li {
  font-size: 1.5em;
  margin-bottom: 4vh;
  list-style: none;
}

#checklist li:last-of-type {
  margin-bottom: 0vh;
}
