$background: #E9EAEA;
$primary: #6b59ef;
$grey: lighten(#000, 25%);

#index {
  margin-top: 5vh;
  color: $grey;
}

.header {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}

#columns {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#macbook {
  width: 55vw;
  height: auto;
  position: relative;
}

#gif {
  position: absolute;
  width: 25vw;
  top: 3vw;
  left: 6vw;
  zoom: 150%;
}

#images {
  position: relative;
}

#checklist {
  width: 33vw;
  height: 40vh;
  display: flex;
  align-items: center;
  align-content: space-around;
}

#checklist li, #checklist a {
  font-size: 1.5em;
  padding-bottom: 5vh;
  list-style: none;
  display: flex;
  align-items: center;
}

#checklist li img {
  height: 24px;
}

#price {
  text-align: center;
  width: 66vw;
  margin-left: 16.67vw;
  h2 {
    color: $primary;
  }
}

#line {
  margin: 5vh 0 5vh 0;
  border: 1px solid $primary;
  height: 0px;
  width: 66vw;
  margin-left: 16.67vw;
}

#average, .minmax {
  background-color: darken($background, 15);
  border: 1px solid darken($background, 20);
  padding: 3px;
  border-radius: 5px;
}

.stats {
  margin-bottom: 15px;
}

#login {
  text-decoration: none;

}

#login img {
  height: 2.5em;
  &:hover {
    filter: brightness(110%);
  }
}

#login:hover, #login:focus, #login:active, #login:visited {
    color: darken($primary, 20);
    text-decoration: none;
}

#price .faq-button {
  background-color: $primary;
  color: black;
  border: 3px solid black;
  border-radius: 7px;
  padding: 5px;
  font-weight: 600;
  width: 30vw;
  margin-left: 18vw;
  margin-bottom: 2vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-shadow: 5px 5px 0vw 0vw black;
  -moz-box-shadow:    5px 5px 0vw 0vw black;
  box-shadow:         5px 5px 0vw 0vw black;
  &:hover, &:active {
    cursor: pointer;
  }
  &:active {
    margin-top: 5px;
    margin-left: 18.5vw;
    -webkit-box-shadow:0px 0px 0px 0px black;
    -moz-box-shadow:   0px 0px 0px 0px black;
    box-shadow:        0px 0px 0px 0px black;
  }
}

.faq-answer {
  width: 40vw;
  margin-left: 15vw;
}

li {
  list-style: none;
}

#about {
  color: $grey;
  font-weight: 400;
}

.retro {
  text-align: center;
}
