$background: darken(#F8F8F8, 2.5);
$primary: #6b59ef;

#index {
  margin-top: 5vh;
  color: lighten(#000, 25%);
}

.header {
  text-align: center;
}

#columns {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#macbook {
  width: 55vw;
  height: auto;
}

#checklist {
  width: 33vw;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#checklist li {
  font-size: 1.5em;
  margin-bottom: 4vh;
  list-style: none;
}

#checklist li:last-of-type {
  margin-bottom: 0vh;
}

#price {
  text-align: center;
  width: 66vw;
  margin-left: 16.67vw;
  h1, h2 {
    color: $primary;
  }
}

#line {
  margin: 5vh 0 5vh 0;
  border: 1px solid $primary;
  height: 0px;
  width: 66vw;
  margin-left: 16.67vw;
}

#average {
  background-color: darken($background, 15);
  border: 1px solid darken($background, 20);
  padding: 5px;
  border-radius: 5px;
}
