@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$background: darken(#F8F8F8, 2.5);
$primary: #6b59ef;

body {
  background-color: $background;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.navBar {
  background-color: $primary;
  position: static;
  min-width: 100%;
}

.logo {
  background-color: $background;
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  margin: .5em 0;
  width: 50px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 50px;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font-family: 'Anton', Helvetica, sans-serif;
  color: $primary;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 0 #FF686C
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;

    a {
      color: $background;
      text-decoration: none;
      position: relative;
    }

    a:before {
      margin-bottom: -2px;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  #menu-toggle {display: none;}

  .label-toggle {display: none;}

  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    ul {
      background-color: $background;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }

    li {
      border-bottom: 2px solid $primary;
      color: $primary;
      display: block;
      font-size: 1.5em;
      padding: 2em 0;
    }

    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100vh;
      visibility: visible;
    }

    .label-toggle {
      background: linear-gradient(to bottom, $background 0%, $background 20%, transparent 20%, transparent 40%, $background 40%, $background 60%, transparent 60%, transparent 80%, $background 80%, $background 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }

    .wrapper {display: block;}
  }
}

.retro {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: normal 40px/normal "Anton", Helvetica, sans-serif;
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 5px;
  text-shadow: 2px 2px 0 #FF686C
}
